/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
#root,
#__next {
  isolation: isolate;
}

/* STYLE */
.libraryContainer {
  margin: auto;
  width: 80%;
}
table {
  margin-top: 50px;
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px black solid;
}

button {
  margin: 30px auto 0px;
  display: block;
}
.newBookBtn {
  padding: 5px 15px;
}

.showForm {
  margin: 50px auto;
}

form {
  display: block;
  margin: 20px auto;
  width: 100%;
  /* Form outline */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

p + p {
  margin-top: 1em;
}

form p {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

form h3 {
  text-decoration: underline;
}

form fieldset {
  margin-top: 15px;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  min-width: 90px;
}

input {
  /* To make sure that all text fields have the same font settings
     By default, text areas have a monospace font */
  font: 1em sans-serif;
  /* Uniform text field size */
  /* width: 300px; */
  box-sizing: border-box;
  /* Match form field borders */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Set the outline width and style */
  outline-style: solid;
  /* To give a little highlight on active elements */
  outline-color: #000;
}

.formButtons {
  display: flex;
}

.formButtons button {
  padding: 10px;
  width: 100px;
}
